%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I.
    
    
.container
  .row{:style => "padding-top: 100px;"}
    .col-md-4
    .col-md-4
      .row

%a(href="#" class ="button")
  %span(class="button") Button text 

%a{:class=>"btn btn-danger", :ref=>"#", :style=>'width: 200px;'}
  %i{:class=>"icon-trash icon-white"}
  Delete
  



.footer{:style => "padding-top: 100px;"}
  .row{:style => "background-color:rgba(15,39,64,1.00);"}
    .col-md-3
    .col-md-6
      =image_tag "im3.png", :width=>"100%"
    .col-md-3
    
