%script{:src=>"https://code.highcharts.com/highcharts.js"}
= javascript_include_tag "pie"

%nav.navbar.navbar-inverse{:role => "navigation"}
    .navbar-header
        %a.navbar-brand{:href => "home"} M.A.G.I
    %ul.nav.navbar-nav.navbar-right
        %li
            %a{:href=>'home'}
                %i{:class=>"fa fa-home fa-fw"} 
                Home
        %li
            %a{:href=>'allevent'}
                %i{:class=>"fa fa-align-justify fa-fw"} 
                Event
        %li
            %a{:href=>'profile'}
                %i{:class=>"fa fa-user fa-fw"} 
                Profile
        %li
            %a{:href=>'logout'}
                %i{:class=>"fa fa-sign-out fa-fw"} 
                Logout

%div{:id=>'con', :style=>'height: 500px'}

%div{:id=>'Local', :style=>'display: none'}12
%div{:id=>'Houston', :style=>'display: none'}23
%div{:id=>'Austin', :style=>'display: none'}12
%div{:id=>'San', :style=>'display: none'}18
%div{:id=>'Dallas', :style=>'display: none'}32
%div{:id=>'Other', :style=>'display: none'}19
%div{:id=>'Out', :style=>'display: none'}73

.row
    %br
    %br
    %br
    %br
    %br
    %br 
