%script{:src=>"https://code.highcharts.com/highcharts.js"}
= javascript_include_tag "pie"

%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I.
  %ul.nav.navbar-nav
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
  %ul.nav.navbar-nav.navbar-right
    %li
      =link_to "Event", 'allevent'
    %li
      =link_to 'profile', 'profile'
    %li
      =link_to 'logout', 'logout'

%div{:id=>'con', :style=>'height: 500px'}

%div{:id=>'Local', :style=>'display: none'}12
%div{:id=>'Houston', :style=>'display: none'}23
%div{:id=>'Austin', :style=>'display: none'}12
%div{:id=>'San', :style=>'display: none'}18
%div{:id=>'Dallas', :style=>'display: none'}32
%div{:id=>'Other', :style=>'display: none'}19
%div{:id=>'Out', :style=>'display: none'}73
//
// .footer{:id => "footer", :style => "margin-bottom: 0"}
//   .row{:style => "background-color:rgba(15,39,64,1.00);"}
//     .col-md-3
//     .col-md-6
//       =image_tag "im3.png", :width=>"100%", :position=>"fixed", :bottom=>"0"
//     .col-md-3