%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
        
        
.container
  .row
    .col-md-2
    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Vehicle
        .panel-body
          = form_tag(:action => 'update', :vid => @vehicle.id) do
            .form-group
              %label Vehicle Name
              %input{:class => 'form-control', :value=>@vehicle.vname, :name=>"Name"}
        
            .form-group
              %label Vehicle Class
              %input{:class => 'form-control', :value=>@vehicle.vclass, :name=>"Class"}
                    
            
            %label Vehicle Impression
            .form-group
              .col-md-1
              .col-md-4
                %label Nation
                %input{:class => 'form-control', :value=>@vehicle.vnation, :name=>"Nation"}
              .col-md-1
              .col-md-4
                %label War
                %input{:class => 'form-control', :value=>@vehicle.vwar, :name=>"War"}
        
            .form-group
              %label Vehicle Description
              %textarea{:class => 'form-control', :rows => "8", :value=>@vehicle.vdescription, :name=>"Description"}
                =@vehicle.vdescription
      
            = submit_tag("Save", :class => 'btn btn-primary')
            
.footer{:id => "footer", :style => "margin-bottom: 0"}
  .row{:style => "background-color:rgba(15,39,64,1.00);"}
    .col-md-3
    .col-md-6
      =image_tag "im3.png", :width=>"100%", :position=>"fixed", :bottom=>"0"
    .col-md-3            