/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:link, a:visited {
 text-decoration: none;
}
/* make any scrollable page (question create, vehicle create) have login_bg (not login_bg3) */
body {
    background-image: url(new_login_bg.jpg);
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    z-index: -2;
    overflow-y: scroll;
    
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    /*height: 100%;*/
    /*width: 100%;*/

}