<!DOCTYPE html>
<html>
<head profile="https://ancient-retreat-18065.herokuapp.com"/>
  <link rel="icon" href="/images/favicon.ico"  type="image/x-icon" />
  <title>OnlineRegSystemMagi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
