<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
  <link rel="shortcut-icon" href="/app/assets/images/favicon.ico"  type="image/x-icon" />
  <title>OnlineRegSystemMagi</title>
  <background> :style => background-image: url(#{image_path "login_bg.jpg"}) </background>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
